.nav {
    display: grid;
        grid-template-columns: 1fr 1fr;
    padding: 10px 5%;
    position: sticky;
    top: 0;
    background-color: white;
    box-shadow: 1px 1px 10px rgb(190, 190, 190);
    z-index: 100;
}

.nav-earth-logo {
    justify-self: self-start;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
    color: rgb(95, 95, 95);
}

.nav-earth-logo>svg {
    font-size: 1.3rem;
    font-weight: normal;
    color: green;
}

.nav-earth-links {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
.nav-bar {
    cursor: pointer;
    color: rgb(1, 94, 47);
    text-decoration: none;
    list-style: none;
    font-size: 1rem;
    transition: all .1s ease;
}

.nav-bar:hover {
    color: rgb(15, 197, 85);
}

.active {
    transform: scale(105%);
    font-weight: bold;
}

ul {
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width: 600px) {
    .nav {
        padding: 15px 2%;
    }

    .nav-earth-logo>svg {
        font-size: 0.6rem;
    }

    .nav-earth-logo>h2 {
        font-size: 0.6rem;
    }

    .nav-earth-links {
        gap: 0.5rem;
    }

    .nav-bar {
        font-size: 0.7rem;
    }
}